.App {
  text-align: center;
}

.container_header {
  text-align: center;
  font-size: xx-large;
  width:2000px;
}

.container_buttonStack {
  margin-bottom: 2em;
}

.container_quote{
  font-size: 25px;
}
