.App {
  text-align: center;
}

.queryTab-tabTitle {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(192, 45, 26);
  color: #fff;
}

.App Header {
  text-align: center;
  font-size: xx-large;
  background-color: blueviolet;
}

.buttonStack {
  box-sizing: border-box;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(192, 45, 26);
}

.App-quote{
  margin: 10px;
  font-size: 50px;
}